@import 'variables', 'responsiveness';

.box {
    border: solid 1px $color-gray-bg;
    border-radius: 3px;
    padding: .5rem;

    &__label {
        display: block;
        float: left;
        margin-top: -19px;
        background: $color-light;
        height: 1rem;
        padding: 2px 5px 2px 5px;
        color: $color-gray-text;
        font-size: 14px;
        overflow: hidden;
    }
}

.app {
    display: grid;
    grid-template-rows: 27vh auto auto;
    grid-template-areas:
        "watch"
        "control"
        "configure"
    ;
    gap: 20px 0;

    @include md {
        grid-template-rows: 40vh auto auto;
    }

    .app-control {
        grid-area: control;
        justify-self: center;
        display: grid;
        grid-template-areas:
            "camera"
            "navigation"
        ;
        gap: 20px 0;

        @include md {
            grid-template-areas:
                "navigation camera"
            ;
            gap: 0 20px;
        }

        .camera {
            grid-area: camera;
    
            &__controls {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: nowrap;
                padding: 1rem;
            }
        }

        .navigation {
            grid-area: navigation;
            
            &__inner {
                display: flex;
                justify-content: space-around;
            }

            &__controls {
                $navigation-button-size: 65px;

                grid-area: navigation;
                justify-self: center;
                display: grid;
                grid-template: repeat(3, $navigation-button-size) / repeat(3, $navigation-button-size);
                grid-template-areas:
                    "NW N NE" 
                    "W C E"
                    "SW S SE"
                ;

                .control {
                    width: ($navigation-button-size - 10px);
                    height: ($navigation-button-size - 10px);
                    background-color: $color-gray-bg;
                    border-radius: 5px;
                    font-weight: 700;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */

                    &--pressed {
                        background-color: $color-secondary;
                        color: $color-light;
                    }
                }

                @mixin navigation-class($area) {
                    .#{$area} {
                        grid-area: $area;
                    }
                }

                @include navigation-class(NE);
                @include navigation-class(N);
                @include navigation-class(NW);
                @include navigation-class(E);
                @include navigation-class(C);
                @include navigation-class(W);
                @include navigation-class(SE);
                @include navigation-class(S);
                @include navigation-class(SW);
            }

            &__config {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }
    }

    .app-watch {
        grid-area: watch;
    }

    .app-configure {
        grid-area: configure;
    }
}