$color-primary: #B2DBD5; //#8AAAE5; 89ABE3;
$color-secondary: #2B616D;
$color-light: #FDFDFC;
$color-gray-text: #909090;
$color-gray-bg: #E3E3E3;

$height-viewport-mobile: 27vh;
$height-viewport-desktop: 40vh;

// Themes: 
// Arctic: #B2DBD5 Dark teal: #2B616D Brick: #FA8D62