@import '../variables';

.slider-field {
  //width: 100%;
  /* Width of the outside container */
  margin-bottom: 1px;
  width: 180px;
  position: relative;

  &--vertical {
    width: 80px;
    height: 180px;

    .hint {
      position: absolute;
      bottom: 5px;
      left: 50%;
    }
  }
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: $color-gray-bg;
  /* Grey background */
  outline: none;
  /* Remove outline */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;

  width: 170px;

  &--vertical {
    width: 150px;
    position: absolute;
    transform: translate(-25%, 75px) rotate(270deg);
    -moz-transform: rotate(270deg);
    /*do same for other browsers if required*/
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: $color-secondary;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
  }

  &::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: $color-secondary;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
  }
}